:root {
  /* blue */
  --color-background: #deeafc;
}

@font-face {
  font-family: 'billabongregular';
  src: url('fonts/billabongregular/billabong-webfont.woff2') format('woff2'),
    url('fonts/billabongregular/billabong-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: var(--color-background);
}

.form-general {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-general .checkbox {
  font-weight: 400;
}

.form-general a {
  text-decoration: none;
  color: #666;
}

.form-general a:hover {
  color: #218838;
}

.form-general .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 15px;
  font-weight: 500;
}

.form-general .form-control:focus {
  z-index: 2;
}

.form-general input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-general input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.forgot-link {
  font-size: 13px;
}

.tittleApalabrados {
  font-family: "billabongregular";
  padding-top: 5%;
  color: black;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(28, 48, 77, 0.25);
}

.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.btn-circle:hover {
  opacity: 0.7;
}

.btn-facebook {
  background-image: url(../assets/images/signin/facebook.png);
  background-color: #3b5998;
  color: white;
}

.btn-twitter {
  background-image: url(../assets/images/signin/twitter.png);
  background-color: #0084b4;
  color: white;
}

.btn-google {
  background-image: url(../assets/images/signin/google-plus.png);
  background-color: #d34836;
  color: white;
}

.error {
  padding: .5em;
  background-color: #EB1E32;
  border-color: #EB1E32;
  color: #FFF;
  text-align: center;
}

/*
Bootstrap 4 breakpoints
*/

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
  .txtApalabrados {
    font-size: 16px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .txtApalabrados {
    font-size: 30px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .txtApalabrados {
    font-size: 40px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .txtApalabrados {
    font-size: 48px;
  }
}