/*Sobreescribo la clase col para quitar el padding en tamaño pequeño*/
.col-sm-12 {
  padding-right: 0;
  /*  padding-left: 0;*/
}

/*Sobreescribo la clase col para quitar el padding en tamaño pequeño*/
.row-sm-12 {
  margin-left: 0;
}

/*Clase de pruebas creo que sobra, hay que revisar si cambia algo*/
.margenes {
  padding: 0em;
  margin: 0em;
}

/*Sobreescribo la clase container-fluid ya que viene con margenes por defecto*/
.container-fluid {
  padding: 0px;
  margin: 0px;
}

/*Atributos comunes para la clase tablero*/
.scrabble-table {
  /*max-height: 40vh;*/
  border-collapse: separate;
  table-layout: fixed;
  background-clip: content-box;

}

/*Atributos comunes para la clase casilla*/
.scrabble-td {
  font-family: "Source Code Pro";
  background-color: white;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0.1em;
  font-size: 1em;
}

.player1-info {
  background-color: white;
  border-style: solid;
  border-top-style: solid;
  border-bottom-style: solid;
  border-bottom-width: 15px;
  border-left-style: none;
  border-right-style: none;
  color: #F15A29;
}

.player1-turn {
  background-color: #F15A29;
  color: white;
  font-weight: bold;
}

.timer{
  font-size: 2em;
}

.player2-info {
  background-color: white;
  border-style: solid;
  border-top-style: solid;
  border-bottom-style: solid;
  border-bottom-width: 15px;
  border-left-style: none;
  border-right-style: none;
  color: #1BB24B;
}

.player2-turn {
  background-color: #1BB24B;
  color: white;
  font-weight: bold;
}

.letters-wrapper {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.letters {
  display: flex;
  /*-ms-flex-direction: column;*/
  /*flex-direction: column;*/
  padding-left: 0;
  /*height: 40px;*/
  margin-bottom: 0;
}

.letters li {
  margin-right: 10px;
  display: block;
  width: 40px;
  height: 40px;
}

.txt-puntos {
  font-weight: bold;
  font-size: 2em;
  float: right;

}

.log-panel {
  background-color: white;
  border-style: solid;
  border-top-style: solid;
  border-bottom-style: solid;
  border-bottom-width: 15px;
  border-left-style: none;
  border-right-style: none;
  color: #336BA8;
}

.log-list {
  padding: 0;
  max-height: 5em;
  /* 1.25 x 4 */
  overflow-y: auto;
}

.log-list li {
  font-size: 0.75em;
  padding: .25em 1em;
  line-height: 1em;
  color: #919191;
}

.letters img {
  width: 40;
  height: 40;
}

/*Media Query para tamaño móvil se ha usado el galaxy*/

@media screen and (max-width: 360px) {
  .scrabble-table {
    align: center;
    height: 100vw;
    width: 100vw;
  }

}

/*Media Query para tamaño tablet, se ha usado kidle fire*/
@media screen and (min-width: 360px) and (max-width: 805px) {
  .scrabble-table {
    border-spacing: 0.1em;
    height: 100vw;
    width: 100vw;
  }

  .scrabble-td {
    border-radius: 0.2em;

  }
}

/*Media Query para tamaños más grandes*/
@media screen and (min-width: 805px) {
  .scrabble-table {
    border-spacing: 0.1em;
    height: 90vh;
    width: 90vh;
  }

  .scrabble-td {
    border-radius: 0.2em;

  }
}

.double-word {
  background-color: #EE7C2F;
  color: white;
}

.triple-word {
  background-color: #ED3D36;
  color: white;
}

.double-letter {
  background-color: #336BA8;
  color: white;
}

.triple-letter {
  background-color: #1BB14A;
  color: white;
}

.star {
  background-color: black;
  color: white;
}

/* Data Loader Animation */
.isLoading {
  color: #347fc3;
  font-weight: 800;
  font-size: 1.5em;


}

.circle {
  margin: 0 auto;
  border-radius: 50%;
  border: 10px solid rgba(0, 0, 0, 0);
  border-top-color: #347fc3;
}

.circle1-1,
.circle1-2,
.circle1-3,
.circle1-4,
.circle1-5,
.circle1-6 {
  height: 100px;
  width: 100px;
  margin-top: 15px;
}

.circle2-1,
.circle2-2,
.circle2-3,
.circle2-4,
.circle2-5,
.circle2-6 {
  height: 70px;
  width: 70px;
  margin-top: 5px;
}

.circle3-1,
.circle3-2,
.circle3-3,
.circle3-4,
.circle3-5,
.circle3-6 {
  height: 40px;
  width: 40px;
  margin-top: 5px;
}

.circle1 {
  -webkit-animation: load1 4s infinite;
}

@-webkit-keyframes load1 {
  0% {}

  100% {
    -webkit-transform: rotate(360deg);
  }
}

/* END Data Loader Animation */