/*.scrabble-table {
  border-collapse: separate;
  border-spacing: 0.5em;
  table-layout: fixed;
  background-clip: content-box;
  width: 100%;
  height: 100%;
}
*/
.scrabble-table {
 max-height: 40vh;
}
@media (min-width: 992px ) {
  .scrabble-table {
    border-collapse: separate;
    border-spacing: 0.5em;
    table-layout: fixed;
    background-clip: content-box;
    width: 100%;
  }

  .scrabble-td {
    font-family: "Source Code Pro";
    background-color: white;
    padding: 1em;
    height: 3.2vh;
    width: 3.2vw;
    font-size: 0.8vw;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

@media (max-width: 992px) {
  .scrabble-table {
    border-collapse: separate;
    border-spacing: 0.1em;
    table-layout: fixed;
    width: 100%;

  }

  .scrabble-td {
    font-family: "Source Code Pro";
    background-color: white;
    padding: 1.2em;
    min-height: 3vh;
    min-width: 3vw;
    font-size: 0.8vw;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}


.double-word {
  background-color: #EE7C2F;
  color: white;
}

.triple-word {
  background-color: #ED3D36;
  color: white;
}

.double-letter {
  background-color: #336BA8;
  color: white;
}

.triple-letter {
  background-color: #1BB14A;
  color: white;
}

.star {
  background-color: black;
  color: white;
}

.margenes{
  padding: 1em;
  margin: 1em;
}

.container-fluid{
  padding: 0px;
  margin: 0px;
}
